{% extends 'base.html.twig' %}

{% block title %}Saken Tasks UserPage {% endblock %}

{% block body %}
    <div class="col-lg-1 d-md-none d-lg-block"></div>
                
    <div class="col-lg-10 col-md-12 py-4 p-2">
        <input type="hidden" id="hiddenWithId" value="{{projetoId}}">
        <div class="card">
            <div class="card-header py-4">
                <div class="d-flex justify-content-start">
                    <div class="card-title font-purple h2">{{ user.nome }} -</div>
                    <div class=" mx-3 h4 lato font-dark align-self-center">@{{user.username}}</div>
                </div>
                <div class="my-1">
                    <div class="h4 font-purple lato">{{ user.cargo }}</div>
                </div>
                
            </div>
            <div class="card-body">
                {% for message in app.flashes('success') %}
                <div class="alert alert-danger alert-dismissible fade show position-relative" role="alert">
                    <div class="lato font-black h6">{{ message }}</div>
                    <button type="button" class="close position-absolute" style="top: 8px; right: 5px;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show position-relative" role="alert">
                        <div class="lato font-black h6">{{ message }}</div>
                        <button type="button" class="close position-absolute" style="top: 8px; right: 5px;" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
                <div class="my-3"><span class="h4 font-black">Minhas Tasks</span></div>
                {% for task in tasks %}
                    {% if task.conclued_at == null %}
                        {% set has = true %}
                        {% if task.grau_urgencia == 1 %}
                            <div class="itemLink item taskItem taskUrgente">
                        {% elseif task.grau_urgencia == 2 %}
                            <div class="itemLink item taskItem taskPoucoUrgente">
                        {% elseif task.grau_urgencia == 3 %}
                            <div class="itemLink item taskItem taskIntermediaria">
                        {% elseif task.grau_urgencia == 4 %}
                            <div class="itemLink item taskItem taskSemUrgencia">
                        {% endif %}
                            <div class="d-flex justify-content-between">
                                <button class="w-100" data-toggle="modal" data-target="#modalTask{{task.id}}" style="border: 0; background: none;">
                                    <div class="d-flex justify-content-start">
                                        <div><img src="{{asset('img/dropdown.png')}}" class="mx-2 abreModalIcon" width="20" alt="Abrir Dropdown"></div>
                                        <div class="h5 inputSearch lato">{{ task.nome }} <span class="mx-3">/</span></div>
                                        <div class="h5 lato">{{task.nome_projeto}} <span class="mx-3">/</span></div>
                                        <div class="h5 lato">{{task.final_date|date("d/m/Y")}}
                                            {% if "now"|date("d/m/Y") == task.final_date|date("d/m/Y") %}
                                                <bold>- HOJE</bold>
                                            {% elseif "now"|date("m") == task.final_date|date("m") %}
                                                <bold>- NESSE MÊS</bold>
                                                {% if "now"|date("d") > task.final_date|date("d") %}
                                                    <bold>- ATRASADA</bold>
                                                {% endif %}
                                            {% elseif "now"|date("m") > task.final_date|date("m") %}
                                                <bold>- ATRASADA</bold>
                                            {% endif %}
                                        </div>
                                    </div>
                                </button>
                                <div class="cntr">
                                    <form id="check{{task.id}}" action="{{path("checkTask", {idTask: task.id, idProjeto: task.projeto, profile: true})}}" method="get">
                                        <input type="checkbox" id="cbx{{task.id}}" class="hidden-xs-up checkbox">
                                        <label for="cbx{{task.id}}" class="cbx"></label>
                                    </form>
                                </div>
                            </div>
                            
                        </div>

                        <div class="modal fade" id="modalTask{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="labelTaskDesc" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header d-flex justify-content-between">
                                        <div><h4 class="modal-title font-purple" id="labelTaskDesc">{{task.nome}}</h4></div>
                                        <div class="d-flex jusfity-content-end">
                                            <div class="mx-2"><a class="itemDelete btnDeleteTask" href="{{path('deleteTask', {idTask: task.id, idProjeto: task.projeto})}}"><img id="deleteBtn" src="{{asset('img/trash.png')}}" alt="Deletar" width="25"></a></div>
                                            <div class="align-self-center">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="readDiv{{task.id}}">
                                            <div class="d-flex justify-content-between my-1">
                                                <div><span class="h5 lato font-purple">Classificação: </span><span class="h6 lato font-black">{{task.classificacao}}</span></div>
                                                <div><span class="h5 lato font-purple">Tipo: </span><span class="h6 lato font-black">{{task.tipo}}</span></div>
                                            </div>
                                            
                                            <div class="d-flex justify-content-between my-1">
                                                <div><span class="h5 lato font-purple">Data de criação: </span><span class="h6 lato font-black">{{task.created_at|date("d/m/Y")}}</span></div>
                                                <div><span class="h5 lato font-purple">Data final: </span><span class="h6 lato font-black">{{task.final_date|date("d/m/Y")}}</span></div>
                                            </div>
                                            <div><span class="h5 lato font-purple">Projeto: </span><span class="h6 lato font-black">{{task.nome_projeto}}</span></div>
                                            <div class="card mt-3">
                                                <div class="card-body font-black lato h6">
                                                    <div class="card-title lato"><b>Descrição da tarefa:</b></div><hr>
                                                    <p> {{ task.descricao }} </p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if has == false %}
                    <div class="h6 text-muted">Você não tem tasks atualmente!</div>
                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('userPage') }}
{% endblock %}

{% block footer %}
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}