{% extends 'base.html.twig' %}

{% block title %}Saken Tasks Funcionários{% endblock %}

{% block body %}
    <div class="col-md-11">funcionarios<br>
    {% for funcionario in funcionarios %}
        <div class="card">
            <div class="card-body">
                {{funcionario.nome}}<br>
                {{funcionario.cpf}}<br>
                {{funcionario.data_nasc}}<br>
                {{funcionario.username}}<br>
                {{funcionario.cargo}}
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}

{% block footer %} 
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}