{% extends 'base.html.twig' %}

{% block title %}Cadastrar funcionário{% endblock %}

{% block body %}
    <div class="col-lg-2 d-md-none d-lg-block"></div>
    <div class="col-lg-8 col-md-12 py-5">
        <div class="card">
            <div class="card-body">
                <h2 class="lato font-purple mb-2">Novo Funcionário</h2>
                <h4 class="lato font-black mb-4">Primeiro, crie um username e uma senha que serão utilizados no login!</h4>
                
                {{ form_start(form) }}
                    {{ form_row(form.username, {
                        label: 'Username:',
                        attr: {
                            placeholder: 'Digite aqui o username. Lembrando que ele deve ser único.'
                        }
                    })}}
                    {{ form_row(form.plainPassword, {
                        label: 'Senha:',
                        attr: {
                            placeholder: 'Digite aqui a senha. O funcionário precisa lembrar dela ao fazer login.'
                        }
                    })}}
                    {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>


{% endblock %}

{% block footer %} 
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}