<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			Saken Tasks Login
		</title>
		<link rel="icon" href="{{ asset('img/favicon.ico') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class='d-flex flex-column minheight bg'>
		<div class=''><nav class="navbar navbar-expand-lg navbar-dark bg-dark lato px-5 position-relative">
			<a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo Saken Tasks" width="50"><span class="h1 tangential font-white px-2">Saken Tasks</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav></div>
		<div class="container-fluid flex-grow-1">
			<div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 col-sm-12 pt-5">
                    {% if error %}
                        <div class="alert alert-danger lato font-black">{% if error.message is defined %} O login e/ou a senha estão inválidos! Tente novamente! {% endif %}</div>
                    {% endif %}
                    <div class="card py-3 glass">
                        <div class="card-body">
                            <div class="card-title font-purple h1 lato text-center">Login</div>
                            <form action="{{ path('login') }}" method="post">
                                <div class="form-group">
                                    <label class="lato font-black" for="username">Username:</label>
                                    <input type="text" name="_username" class="form-control lato font-black" id="username" value="{{ last_username }}" placeholder="Digite o seu nome de usuário" required>
                                </div>
                                <div class="form-group my-3">
                                    <label class="lato font-black" for="password">Senha:</label>
                                    <input type="password" name="_password" aria-describedby="passwordHelp" class="form-control lato font-black" id="password" placeholder="Digite a sua senha" required>
                                    <small id="passwordHelp" class="form-text text-muted">Esqueceu sua senha? Por favor contate seu gerente.</small>
                                </div>
                                <div class="text-center">
                                    <button type="submit" id="btnLogin">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
		</div>

		<div><div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div></div>

	</body>
</html>