{% extends 'base.html.twig' %}

{% block title %}{% if edit is defined %}Editar Projeto {% else %} Novo Projeto {% endif %}{% endblock %}

{% block body %}
    <div class="col-lg-2 d-md-none d-lg-block"></div>
    <div class="col-lg-8 col-md-12 py-5">
        <div class="card">
            <div class="card-body">
                {% if edit is defined %}
                    <h2 class="lato font-purple mb-2">Editar Projeto</h2>
                {% else %}
                    <h2 class="lato font-purple mb-2">Novo Projeto</h2>
                {% endif %}
                
                {{ form_start(form) }}
                    {{ form_row(form.nome, {
                        label: 'Nome:',
                        attr: {
                            placeholder: 'Digite aqui o nome do projeto (lembrando que ele deve ser único).'
                        }
                    })}}
                    {{ form_row(form.cliente, {
                        label: 'Nome do Cliente:',
                        attr: {
                            placeholder: 'Digite o nome do cliente (ou empresa).'
                        }
                    })}}
                    {{ form_row(form.descricao, {
                        label: 'Descrição:',
                        attr: {
                            placeholder: 'Descreva aqui brevemente o projeto...',
                            col: '50',
                            row: '6'
                        }
                    })}}
                    {{ form_row(form.coordenador, {
                        label: 'Escolha o funcionário coordenador deste projeto.'
                    })}}
                    {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>

    </div>


{% endblock %}

{% block footer %} 
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}