{% extends 'base.html.twig' %}

{% block title %}Saken Tasks {{ projeto.nome }} {% endblock %}

{% block body %}
    <div class="col-lg-1 d-md-none d-lg-block"></div>
    
                {% if teste is defined %}
                    {{teste}}
                {% endif %}
                
    <div class="col-lg-10 col-md-12 py-4 p-2">
        <input type="hidden" id="hiddenWithId" value="{{projeto.id}}">
        <div class="modal fade" id="modalConfig" tabindex="-1" role="dialog" aria-labelledby="labelConfigModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelConfigModal">Configurações</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ render(controller(
                            'App\\Controller\\ProjetoController::configProjetoForm', {id: projeto.id}
                        )) }}
                        <div class="d-flex justify-content-end">
                            <div style="margin-top: -50px;"><a class="itemDelete" href="{{ path("deleteProjeto", {id: projeto.id}) }}"><button type="button" class="btn btn-secondary">Deletar {{ projeto.nome }}</button></a></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalChooseImg" tabindex="-1" role="dialog" aria-labelledby="labelChooseModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelChooseModal">Alterar capa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ render(controller(
                            'App\\Controller\\ProjetoController::chooseImgCoverForm'
                        )) }}
                        <div class="d-flex justify-content-between">
                            <div><a href="{{ path("removeImgCover", {id: projeto.id}) }}"><button type="button" class="btn btn-secondary">Remover imagem de capa</button></a></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="position-relative"><div id="divChooseImg" data-toggle="modal" data-target="#modalChooseImg" class="text-center font-white lato position-absolute h2">Escolha uma nova imagem de capa</div></button><img id="chooseImg" class="card-img-top" style="object-fit: cover; height: 150px;" src="{{projeto.url_img_cover}}" alt="Imagem de capa"></div>
            <div class="card-header py-4">
                <div class="d-flex justify-content-between">
                    <div class="card-title font-purple h2">{{ projeto.nome }}</div>
                    <hr>
                    <div><button data-toggle="modal" data-target="#modalConfig" style="border: 0; background: none;"><img id="configBtn" src="{{asset('img/config.png')}}" width="30" alt="Configurações"></button></div>
                </div>
                <div class="my-1">
                    <details>
                    <summary class="h6">Detalhes</summary>
                        <span class="font-10"><b>Cliente: </b></span><span class="font-10">{{ projeto.cliente }}</span><br>
                        <span class="font-10"><b>Funcionário Coordenador: </b></span><span class="font-10">{{ projeto.funcionario }}</span><br>
                        <span class="font-10"><b>Criado em: </b></span><span class="font-10">{{ projeto.created_at }}</span><br>
                        <span class="font-10"><b>Última atualização: </b></span><span class="font-10">{{ projeto.updated_at }}</span><br>
                    </details>
                </div>
                <div class="card mt-3">
                    <div class="card-body font-black lato h6">
                        <div class="card-title lato"><b>Descrição do projeto:</b></div><hr>
                        <p> {{ projeto.descricao }} </p>
                    </div>
                </div>
                
            </div>
            <div class="card-body">

                {% for message in app.flashes('success') %}
                <div class="alert alert-danger alert-dismissible fade show position-relative" role="alert">
                    <div class="lato font-black h6">{{ message }}</div>
                    <button type="button" class="close position-absolute" style="top: 8px; right: 5px;" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger alert-dismissible fade show position-relative" role="alert">
                        <div class="lato font-black h6">{{ message }}</div>
                        <button type="button" class="close position-absolute" style="top: 8px; right: 5px;" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}

                <div class="d-flex justify-content-start my-2">
                    <div>
                       <span class="h4 font-black mx-4">Tasks</span>
                       <button class="newTask" data-toggle="modal" data-target="#modalnewTask" style="border: 0; background: none;">
                            <?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="10px" viewBox="0 0 24 24" version="1.1"><g id="surface1"><path style=" stroke:none;fill-rule:nonzero;fill:gray;fill-opacity:1;" d="M 11.582031 0.0507812 C 10.757812 0.210938 10.054688 0.957031 9.9375 1.789062 C 9.914062 1.953125 9.890625 3.84375 9.890625 5.984375 L 9.890625 9.890625 L 5.992188 9.890625 C 3.523438 9.890625 1.972656 9.910156 1.78125 9.941406 C 0.882812 10.082031 0.1875 10.78125 0.0390625 11.691406 C -0.144531 12.796875 0.671875 13.902344 1.789062 14.0625 C 1.953125 14.085938 3.84375 14.109375 5.992188 14.109375 L 9.890625 14.109375 L 9.890625 18.007812 C 9.890625 20.15625 9.914062 22.046875 9.9375 22.210938 C 10.097656 23.328125 11.203125 24.144531 12.308594 23.960938 C 13.21875 23.8125 13.917969 23.117188 14.058594 22.21875 C 14.089844 22.027344 14.109375 20.476562 14.109375 18.007812 L 14.109375 14.109375 L 18.015625 14.109375 C 20.15625 14.109375 22.046875 14.085938 22.210938 14.0625 C 23.328125 13.902344 24.144531 12.796875 23.960938 11.691406 C 23.8125 10.78125 23.117188 10.082031 22.21875 9.941406 C 22.027344 9.910156 20.476562 9.890625 18.015625 9.890625 L 14.109375 9.890625 L 14.109375 5.984375 C 14.109375 3.84375 14.085938 1.953125 14.0625 1.789062 C 13.898438 0.625 12.75 -0.179688 11.582031 0.0507812 Z M 11.582031 0.0507812 "/></g></svg>
                            <span class="h6 align-self-center text-muted">Nova Tarefa</span>
                       </button>
                    </div>
                </div>

                {% for task in tasks %}
                    <button class="w-100" data-toggle="modal" data-target="#modalTask{{task.id}}" style="border: 0; background: none;">
                        {% if task.grau_urgencia == 1 %}
                            <div class="itemLink item taskItem taskUrgente">
                        {% elseif task.grau_urgencia == 2 %}
                            <div class="itemLink item taskItem taskPoucoUrgente">
                        {% elseif task.grau_urgencia == 3 %}
                            <div class="itemLink item taskItem taskIntermediaria">
                        {% elseif task.grau_urgencia == 4 %}
                            <div class="itemLink item taskItem taskSemUrgencia">
                        {% endif %}
                            <div class="d-flex justify-content-start">
                                <div><img src="{{asset('img/dropdown.png')}}" class="mx-2 abreModalIcon" width="20" alt="Abrir Dropdown"></div>
                                <div class="h5 inputSearch lato">{{ task.nome }} <span class="mx-3">/</span></div>
                                <div class="h5 lato">{{task.funcionario}} <span class="mx-3">/</span></div>
                                <div class="h5 lato">{{task.final_date|date("d/m/Y")}}</div>
                            </div>
                        </div>
                    </button>

                    <div class="modal fade" id="modalTask{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="labelTaskDesc" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title font-purple" id="labelTaskDesc">{{task.nome}}</h4>
                                    <div>
                                        <a class="itemDelete btnDeleteTask" href="{{path('deleteTask', {idTask: task.id, idProjeto: projeto.id})}}"><img id="deleteBtn" src="{{asset('img/trash.png')}}" alt="Deletar" width="25"></a>
                                        <button id="{{task.id}}" style="border: 0; background: none;" class="btnEditTask"><img id="editBtn" src="{{asset('img/edit.png')}}" width="25" alt="Editar"></button>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="readDiv{{task.id}}">
                                        <span class="h5 lato font-purple my-1">Funcionário: </span><span class="h6 lato font-black">{{task.funcionario}}</span><br>
                                        <div class="d-flex justify-content-between my-1">
                                            <div><span class="h5 lato font-purple">Classificação: </span><span class="h6 lato font-black">{{task.classificacao}}</span></div>
                                            <div><span class="h5 lato font-purple">Tipo: </span><span class="h6 lato font-black">{{task.tipo}}</span></div>
                                        </div>
                                        
                                        <div class="d-flex justify-content-between my-1">
                                            <div><span class="h5 lato font-purple">Data de criação: </span><span class="h6 lato font-black">{{task.created_at|date("d/m/Y")}}</span></div>
                                            <div><span class="h5 lato font-purple">Data final: </span><span class="h6 lato font-black">{{task.final_date|date("d/m/Y")}}</span></div>
                                        </div>
                                        <div class="card mt-3">
                                            <div class="card-body font-black lato h6">
                                                <div class="card-title lato"><b>Descrição do projeto:</b></div><hr>
                                                <p> {{ task.descricao }} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="editDiv edit{{task.id}}" id="task{{task.id}}">
                                        {{ render(controller(
                                            'App\\Controller\\TaskController::editTaskForm',
                                            { 'idTask': task.id, 'idProjeto': projeto.id }
                                        )) }}
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                
            </div>
        </div>

        <div class="modal fade" id="modalnewTask" tabindex="-1" role="dialog" aria-labelledby="labelTaskModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="labelTaskModal">Nova Tarefa</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ render(controller(
                            'App\\Controller\\TaskController::newTaskForm'
                        )) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('projeto') }}
{% endblock %}

{% block footer %}
    <div class="rodape text-center py-1 lato font-gray">© Saken Tasks 2022</div>
{% endblock %}