<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/favicon.ico') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class='d-flex flex-column minheight'>
		<div class=''><nav class="navbar navbar-expand-lg navbar-dark bg-dark lato px-5">
			<a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo Saken Tasks" width="50"><span class="h1 tangential font-white px-2">Saken Tasks</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
				<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Ação</a>
					<a class="dropdown-item" href="#">Outra ação</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Algo mais aqui</a>
					</div>
				</li>
			</div>
		</nav></div>
		<div class="container-fluid flex-grow-1">
			{% block body %}{% endblock %}
		</div>

		<div class=''>{% block footer %}{% endblock %}</div>

	</body>
</html>